{% extends 'base.html' %}
{% block content %}
<br>
<h1 class="Bosh_sahifa">Bosh sahifa</h1>
<ul type="circle">
    <div class="container mt-2">
        {% for new in news %}
        <li class="list-unstyled">
              <div class="card w-75 mx-auto mb-3">
        <div class="card-body shadow">
        <a href="{{new.id}}"><h2 class="text-center">{{ new.title }}</h2></a>
                <img class="pic w-100" src="{{new.imageURL}}">
                <p class="mt-2">{{ new.text }}</p>

                <a href="#">{{ new.tag }}</a>
        </div>
    </div>
        </li>
        {% endfor %}
    </div>
</ul>
{% endblock content %}



